token = '{{ TELEGRAM_API }}'

mysqlHost = '{{ MYSQL_PORT_3306_TCP_ADDR }}'
mysqUser = '{{ MYSQL_ENV_MYSQL_USER }}'
mysqlPassword = '{{ MYSQL_ENV_MYSQL_PASSWORD }}'
mysqlDatabase = '{{ MYSQL_ENV_MYSQL_DATABASE }}'